@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'Roboto';
    src: url(./assets/fonts/Roboto/Roboto-Medium.ttf) format("truetype");
}
/* Header styles */
body {
    font-family: Montserrat;
}








/* 


селектор * - для всіх елементів на сторінці отримують певні правила


id якщо хочемо щоб був один унікальний елемент на сторінці #id - позначення



Каскадність - чим нижче тим важливіше, за умови однакової ваги селекторів

ВАГА СЕЛЕКТОРІВ:

* - 0000
тег - 0001
.class - 0010
#id - 0100
інлайнові стилі (які вказані безпосередньо в html-розмітці всередині тега style) - 1000


Комбінатори (особливі символи, які позначають звязок елементів)
" "(пробіл) - вказує на нащадків певного тега - general descendent combinator
, (кома) - вказує декілька селекторів списком (неважливо які селектори) - list combinator
> - дочірні елементи - child selector
~ - загальний комбінатор сімблінгів(які нижче в потоці за вибрані елементи) - general sibling selector
+ - кобмінатор найближчого сімблінга - next sibling selectorWW
*/